Import packages

In [1]:
import pandas as pd
import numpy as np

Variables

In [2]:
old_year = 2004
new_year = 2019
calldb = []
dflist = []

Code

In [7]:
for year in range(new_year - old_year + 1):
    calldb.append("policecalls" + str(old_year + year) + ".csv")
    dflist.append(pd.read_csv(calldb[year]))
print(dflist[0].head)

<bound method NDFrame.head of                     CDTS     EID START_DATE CALL_NUMBER  PRIORITY REPORT_DATE  \
0       20041031102632PS  237882  9/10/2016  P043050568       2.0  10/31/2004
1       20041103011605PS  241472  9/10/2016  P043080073       2.0   11/3/2004
2       20041103012812PS  241469  9/10/2016  P043080070       3.0   11/3/2004
3       20041103013825PS  241446  9/10/2016  P043080049       3.0   11/3/2004
4       20041103014614PS  241488  9/10/2016  P043080087       6.0   11/3/2004
...                  ...     ...        ...         ...       ...         ...
187020  20040716235637PD   82992  9/10/2016  P041981304       3.0   7/16/2004
187021  20040729185515PD  101653  9/10/2016  P042110812       3.0   7/29/2004
187022  20040717011451PD   82994  9/10/2016  P041981306       4.0   7/16/2004
187023  20040729185528PD  101653  9/10/2016  P042110812       3.0   7/29/2004
187024  20040729192528PD  101677  9/10/2016  P042110831       3.0   7/29/2004

       OFFENSE_DATE OFFENSE_TIME CALLTYPE_CODE        CALL_TYPE  \
0        10/31/2004     10:25:21           415      DISTURBANCE
1         11/3/2004      1:14:25           415      DISTURBANCE
2         11/3/2004      1:07:31         1033A   ALARM, AUDIBLE
3         11/3/2004      0:28:07          647F  DRUNK IN PUBLIC
4         11/3/2004      1:40:39          1195     VEHICLE STOP
...             ...          ...           ...              ...
187020    7/16/2004     23:41:47         1033A   ALARM, AUDIBLE
187021    7/29/2004     18:36:32          1125   TRAFFIC HAZARD
187022    7/16/2004     23:43:03           415      DISTURBANCE
187023    7/29/2004     18:36:32          1125   TRAFFIC HAZARD
187024    7/29/2004     18:59:07           415      DISTURBANCE

       FINAL_DISPO_CODE                               FINAL_DISPO  \
0                   CAN                                  Canceled
1                     U                           Unfounded event
2                     U                           Unfounded event
3                     A                               Arrest Made
4                     N  No report required; dispatch record only
...                 ...                                       ...
187020              CAN                                  Canceled
187021              TOT                            No Disposition
187022                G          Gone on Arrival/unable to locate
187023                T                      Turned over To (TOT)
187024                N  No report required; dispatch record only

                                        COMMON_PLACE_NAME  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3       WELLS FARGO - MERIDIAN & SAN CARLOS INSIDE SAF...
4                                                     NaN
...                                                   ...
187020                                        SANTANA ROW
187021                                                NaN
187022                                                NaN
187023                                                NaN
187024                                                NaN

                                 ADDRESS      CITY STATE
0                   [0]-[100] SPRING ST   San Jose    CA
1                                   test  San Jose    CA
2                [1100]-[1200] STORY RD   San Jose    CA
3             [0]-[100] W SAN CARLOS ST   San Jose    CA
4       BLOSSOM HILL RD & ENTRADA CEDROS  San Jose    CA
...                                  ...       ...   ...
187020       [0]-[100] STEVENS CREEK BL   San Jose    CA
187021        AGUA VISTA DR & WEXFORD DR  San Jose    CA
187022           [100]-[200] N MCKAY DR   San Jose    CA
187023        AGUA VISTA DR & WEXFORD DR  San Jose    CA
187024             [0]-[100] CHIECHI AV   San Jose    CA

[187025 rows x 16 columns]>

In [ ]:
dflist[0].info()
dflist[0].shape
dflist[0].columns

Sorting and dropping duplicates. No need to run again.

In [ ]:
'''
for df in dflist:
    df.sort_values(by=['EID', 'OFFENSE_TIME'], inplace=True)
    df.drop_duplicates(subset=['EID'], keep='first', inplace=True)
'''

In [ ]:
dflist[0].head

To check the data for any more duplicates. Again, no need to run a second time.

In [53]:
'''
yearcount=2004
for df in dflist:    #the "clean" 2004 still had duplicates, but it was fixed in Excel. Honestly should have just fixed it in Excel to begin with
    filename='cleaned'+str(yearcount)+'.csv'    #no need to run this anymore
    df.to_csv(filename, index=False)
    
    yearcount+=1
'''

In [3]:
cleanedlist = ['00', '01', '02', '03']    #padding the list to make indices easier to remember
for year in range(new_year - old_year + 1):
    cleanedlist.append(pd.read_csv('cleaned'+str(old_year+year)+'.csv'))

In [73]:
cleanedlist[4].head(5)

,CDTS,EID,START_DATE,CALL_NUMBER,PRIORITY,REPORT_DATE,OFFENSE_DATE,OFFENSE_TIME,CALLTYPE_CODE,CALL_TYPE,FINAL_DISPO_CODE,FINAL_DISPO,COMMON_PLACE_NAME,ADDRESS,CITY,STATE
0,20040630154449PD,57501,9/10/2016,P041820527,2.0,6/30/2004,6/30/2004,13:50:07,242,BATTERY,R,Report taken,WELLS FARGO - MT PLEASANT CENTER INSIDE SAFEWAY,[0]-[100] STORY RD,San Jose,CA
1,20040630161354PD,57556,9/10/2016,P041820574,3.0,6/30/2004,6/30/2004,14:46:15,647F,DRUNK IN PUBLIC,A,Arrest Made,NaN,[300]-[400] N 14TH ST,San Jose,CA
2,20040630155053PD,57574,9/10/2016,P041820587,3.0,6/30/2004,6/30/2004,15:02:34,602PC,TRESPASSING,X,No Disposition,NaN,[100]-[200] LINCOLN AV,San Jose,CA
3,20040630181828PD,57581,9/10/2016,P041820593,3.0,6/30/2004,6/30/2004,15:09:57,211SA,STRONG ARM ROBBERY,R,Report taken,NaN,[200]-[300] FOREST AV,San Jose,CA
4,20040630154117PD,57587,9/10/2016,P041820597,3.0,6/30/2004,6/30/2004,15:12:22,1182,"VEHICLE ACCIDENT, PROPERTY DAMAGE",R,Report taken,NaN,N 1ST ST & E YOUNGER AV,San Jose,CA

This block of code is to fix the useless times that were added to the end of the dates. Commented to prevent me from running again

In [45]:
'''
cleanedlist[19] = pd.read_csv('cleaned2019.csv')
fix = cleanedlist[19]
cleanedlist[19].head(1)
fix['START_DATE'] = fix['START_DATE'].apply(lambda x: str(x)[:-12])
fix['REPORT_DATE'] = fix['REPORT_DATE'].apply(lambda x: str(x)[:-12])
fix['OFFENSE_DATE'] = fix['OFFENSE_DATE'].apply(lambda x: str(x)[:-12])
fix.head(1)
fix.to_csv('cleaned2019.csv', index=False)
'''

This bit of code was to fix the '00:00:00 AM' in the 2018 file. Commented so I don't run it again

In [48]:
'''
cleanedlist[18] = pd.read_csv('cleaned2018.csv')    #forgot to set index to False so an index column was created. Deleted the
fix = cleanedlist[18]                               #column in excel and read the file again to fix it
fix['START_DATE'] = fix['REPORT_DATE']
fix.head(1)
fix.to_csv('cleaned2018.csv', index=False)
fix.head(1)
'''

,CDTS,EID,START_DATE,CALL_NUMBER,PRIORITY,REPORT_DATE,OFFENSE_DATE,OFFENSE_TIME,CALLTYPE_CODE,CALL_TYPE,FINAL_DISPO_CODE,FINAL_DISPO,COMMON_PLACE_NAME,ADDRESS,CITY,STATE
0,20180101004450PS,7000110,1/1/2018,P180010064,1,1/1/2018,1/1/2018,0:34:54,415W,"DISTURBANCE, WEAPON",N,No report required; dispatch record only,NaN,STORY RD & ADRIAN WY,San Jose,CA

In [6]:
for index, df in enumerate(cleanedlist):
    if index >= 4:
        df = df.replace(r'^\s*$', np.nan, regex=True)    #replace empty fields with NaN
        if pd.isna(df['PRIORITY']):    #if there are empty fields in priority, i'll impute them based on call code
            print("hello")
            df.astype({'CDTS': 'str',
                    'EID': 'int',
#                    'START_DATE': 'datetime',
                    'CALL_NUMBER': 'str',
                    'PRIORITY': 'int',
#                    'REPORT_DATE': 'date',
#                    'OFFENSE_DATE': 'date',
#                    'OFFENSE_TIME': 'time',
                    'CALLTYPE_CODE': 'str',
                    'CALL_TYPE': 'str',
                    'FINAL_DISPO_CODE': 'str',
                    'FINAL_DISPO': 'str',
                    'COMMON_PLACE_NAME': 'str',
                    'ADDRESS': 'str',
                    'CITY': 'str',
                    'STATE': 'str'})
            print(index)
#cleanedlist[19].head(2)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().